{% for item in products %}
    <tr>
        <td>{{ item.name}}</td>
        <td class="#">{{ item.brand_name }}</td>
        <td>{{item.product_available_items|floatformat:-2}}</td>
        <td>{{ item.pr_achat}}</td>
        <td>{{ item.price}}</td>
        <td>
            <a href="{% url 'product:update_product' pk=item.id %}"><button class="btn btn-success btn-xs"><i class="fa fa-edit"></i></button></a>
            <a href="{% url 'product:stockin_list' product_id=item.id %}"><button class="btn btn-primary btn-xs"><i class="fa fa-plus"></i></button></a>
            <a href="{% url 'product:stockout_list' product_id=item.id %}"><button class="btn btn-danger btn-xs" title="Stock Out"><i class="fa fa-minus"></i></button></a>
            <!-- <button class="btn btn-danger btn-xs deleteproduct" title="Supprimer" data-id="{{item.id}}"><i class="fa fa-trash-o"></i></button> -->
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="6">No products found</td>
    </tr>

{% endfor %}