{% extends 'base.html' %}

{% block content %}
<div class="container mb-5">
    <br><br>
    <div class="bg-white rounded shadow p-2">
        <table class="mb-5 table table-striped table-bordered table-advance table-hover item-table">
            <div class="row" style="padding: 5px">
                <div class="">
                    <input type="text" class="form-control name_search" placeholder="Chercher un article" >
                </div>
            </div>
            <hr>
            <thead>
            <tr>
                <th class="text-center">Article</th>
                <th class="text-center">Marque</th>
                <th class="text-center">Stock</th>
                <th class="text-center">prix achat</th>
                <th class="text-center">prix vents</th>
            </tr>
            </thead>
            <tbody class="product-table-body text-center product_search_result">
            
            </tbody>
        </table>
       
    </div>

    <div class="bg-white shadow rounded mt-3 p-3">
        <a class="text-danger" href=" {% url 'product:lowstock' %} ">
            Alert du Stock <span class="bg-danger rounded px-3 text-white">{{p_n}}</span>
        </a>
    </div>
    <br><br>

    <div class="row text-center">
        {% if request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_LEDGER_VIEW or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_OWNER or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_VIEW_ACCOUNT %}
        <div class="col-lg-4 col-md-6 ">
            <a href="{% url 'ledger:customer_ledger_list' %}">
                <div class="panel panel_bg_color">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-group fa-4x" style="color:#fff"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt">Clients</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        <!--add product div -->
        {% if request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_DATA_ENTRY_USER or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_OWNER or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_VIEW_ACCOUNT %}
        <div class="col-lg-4 col-md-6 ">
            <a href="{% url 'product:stock_items_list' %}">
                <div class="panel panel_bg_color">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-shopping-cart fa-4x" style="color:#fff"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt">Produits</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% if request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_SALESMAN or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_OWNER or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_VIEW_ACCOUNT %}
        
        {% endif %}
        <!--add sales div -->
        {% if request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_SALESMAN or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_OWNER or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_VIEW_ACCOUNT %}
        <div class="col-lg-4 col-md-6 ">
            <a href="{% url 'sales:invoice_list' %}">
                <div class="panel panel_bg_color">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-dollar fa-4x" style="color:#fff"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt">Ventes / Bons</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        <!-- !!! Adding a url tpo modeify company-s data -->
        <!-- <div class="col-lg-4 col-md-6  mt-2">
            <a href="/editdata">
                <div class="panel panel_bg_color">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-list fa-4x" style="color:#fff"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <div class="panel_txt">Donnée</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div> -->
    </div>
     <!--add logs div -
     <div class="col-lg-4 col-md-6 ">
        <a href="{% url 'product:daily_stock_logs' %}">
            <div class="panel panel_bg_color">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <br>
                            <br>
                            <i class="fa fa-sign-in fa-4x" style="color:#fff"></i>
                        </div>
                        <div class="col-xs-12 text-center">
                            <br>
                            <br>
                            <div class="panel_txt">LOGS</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    col-div end here--->
    
    <br>
    
<!--col-div end here--->
</div>

{% endblock %}


{% block scripts %}
{{ block.super }}
<script>
    $(function () {
        // $('.name_search').autocomplete({
        //     source: function (request, response) {
        //         $.ajax({
        //             url: "/product/product_search",
        //             type: "POST",
        //             data: {
        //                 'name': $('.name_search').val(),
        //             },
        //             success: function (data) {
        //                 response(data.data)
        //             }
        //         })
        //     },
        //     select: function (event, ui) {
        //         $('.name_search').val(ui.item.label);
        //         return false;
        //     }
        // });
        $('.name_search').on('change', function () {
            $.ajax({
                url: "/product/product_search",
                type: "POST",
                data: {
                    'name': $('.name_search').val(),
                },
                success: function (data) {
                    $('.product_search_result').html(data.data)
                }
            })
        });
        $('.deleteproduct').each((i, el)=>{
            $(el).on('click', ()=>{
                t=$(el)
                if (confirm('Supprimer ?')){
                    $.ajax({
                        url: "{% url 'product:delete_product' %}",
                        type: "POST",
                        data: {
                            'id': t.attr('data-id'),
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function (data) {
                            console.log(data)
                            if (data.status == 'success'){
                                t.parent().parent().remove()
                            }
                        },
                        error: function (data) {
                            console.log(data)
                        }
                    });
                }
            })
        })
    
    });
    
</script>
{% endblock %}